.filter {
    margin: 20px 0;
    padding: 10px;
    background-color: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  
    h4 {
      margin-bottom: 15px;
      font-size: 1.2rem;
    }
  
    .filter-category,
    .filter-price {
      margin-bottom: 10px;
    }
  
    label {
      font-size: 1rem;
      margin-right: 10px;
    }
  
    select {
      padding: 5px;
      font-size: 1rem;
      border: 1px solid #ccc;
      border-radius: 5px;
    }
  }
  