.searchbar-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 0 2px ;
    max-width: 1200px;
    position: sticky;
   top: 100px;
    gap: 8px;
    z-index: 9999;
    // background-color: white;
  }
  
  .search-input {
    flex: 1;
    padding: 0.75rem 1rem;
    border-radius: 25px;
    border: 1px solid #ccc;
    font-size: 1rem;
    outline: none;
    transition: all 0.3s ease;
  }
  
  .search-input:focus {
    border-color: #8d791f6e; 
    box-shadow: 0 0 5px #d9ba3181;
  }
 
  